{% extends 'page.twig' %}

{% import 'form.twig' as f %}



{% block title %}
 add a word to the glossary
{% endblock title %}




{% block setup %}
{# Any javascript you need that is NOT run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock setup %}

{% block onload %}
{# Any javascript you need that MUST run on load goes in this block. NB you don't need <script></script> tags  here #}
{% endblock onload %}



{% block header %}
    <article class="col-md-12">
        <h1 class="cntr">Add A Word To The Glossary</h1>
    </article>
{% endblock header %}

{% block main %}

    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            
            <form method="post" action="#">
            {{f.text({id:'wrd',name:'word',ph:'Enter a world'})}}
            {{f.textarea({id:'dfn',name:'defn',ph:'Definition'})}}
            <select name="kind">
                <option value="">&mdash;Type&mdash; </option>
                 <option value="1">Science</option>
                  <option value="2">English </option>
            </select>

            {{f.submit({value:'Enter'})}}

            </form>
         {% if $context->haspost('kind') %} }
             <p>has post  <p>
           {% end if  %}

        </article>
       

    </section>


{% endblock main %}




{% block pagefooter %}
{% endblock pagefooter %}



