








<div class="container " >

            <form method="post" action="#">

                <div class="form-group">
                    <label for="year">Year:</label>
                    <input type="text" class="form-control" id="year">
                </div>
                <div class="form-group">
                    <label for="couesename">Course Name:</label>
                    <input type="text" class="form-control" id="couesename">
                </div>
                <div class="form-group">
                    <label for="modulecode"> ModuleCode:</label>
                    <input type="text" class="form-control" id="modulecode">


           </div>
    <div class="col-md-12  text-center">
                <button type="submit" class="btn btn-primary center-block">Go Search</button>
                </div>
            </form>
    </div>
       



