{#{% extends 'page.twig' %}#}









            <form action="#" method="post" role="form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="f0" class="control-label">Uploading Exam Paper:</label>
                    <input type="file" id="f0" name="uploads[]" class="form-control-file" required="required"/>
                </div>
                <button class="btn btn-primary" type="submit">Upload</button>
            </form>




